[Unit]
Description=FRKN Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/bot
ExecStart=/opt/bot/frkn-bot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
