name: Build frkn-bot

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          default: true
          override: true

      - name: Update apt and install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libssl-dev protobuf-compiler python3-pip
          pip3 install ziglang
          cargo install --locked cargo-zigbuild

      - name: Add target
        run: rustup target add x86_64-unknown-linux-gnu

      - name: Build bot
        run: cargo zigbuild --release --no-default-features --target x86_64-unknown-linux-gnu

      - name: Upload frkn-bot binary
        uses: actions/upload-artifact@v4
        with:
          name: frkn-bot
          path: target/x86_64-unknown-linux-gnu/release/frkn-bot
